<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <h1 class="text-light"><a href=" #">Welcome CLient</a></h1>
        </div>
        <div class="sidenav">
            <a href="#">Raise Issue</a><br>
            <a href="#">View Issue</a><br>
            <a href="#">Negotiate</a><br>
            <a href="#">Update Details</a><br>
            <form action="/logout" method="get">
                <button type="submit" id="logout"> Logout </button>
            </form>
        </div>
    </div>
</header>