body {
    font-family: "Open Sans", sans-serif;
    color: #e8ebef;
    margin: 0;
  }
  a {
    color: #149ddd;
    text-decoration: none; 
    margin-top: 20px;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
  }
  #header {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 300px;
      transition: all ease-in-out 0.5s;
      z-index: 9997;
      transition: all 0.5s;
      padding: 0 15px;
      background: #040b14;
      overflow-y: auto;
    }
    #header .profile h1 {
      font-size: 30px;
      margin: 0;
      padding: 0;
      font-weight: 600;
      -moz-text-align-last: center;
      text-align-last: center;
      font-family: "Poppins", sans-serif;
      margin-top: 80px;
    }
    .sidenav {
      margin-top: 10rem;
      height: 100%;
      width: 300px;
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      overflow: hidden;
    }
    #header::-webkit-scrollbar {
      display: none;
    }
    .sidenav a {
      padding: 16px 8px 6px 16px;
      text-decoration: none;
      font-size: 30px;
      color: #fff;
      display: block;
    }
    .sidenav a:hover {
      color: #37b3ed;
    }
 .table{
    background-color: #92DCE5;
    color: #000;
    margin-left: 450px;
    width: 60%;
    font-size: 22px;
    margin-top: 50px;
    border-radius: 20px;
 }  
 .h{
    width: 170px;
    height: 66px;
 }
.d{
    font-size: 20px;
    text-align: center;
    height: 55px;
}
