<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../stylesheets/adminvalid.css" rel="stylesheet">
</head>

<body>
    <table>
        <thead>
            <th>Worker Name</th>
            <th>Photo ID</th>
            <th>Validate</th>
        </thead>
        <tbody>
            <td>Test</td>
            <td><img src="" class="id-image"></td>
            <td><form action="" method=""><button></button></form></td>
        </tbody>
    </table>
</body>

</html>