<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../stylesheets/adminallworkers.css" rel="stylesheet">
</head>
<body>
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <header id="header">
        <div class="d-flex flex-column">
            <div class="profile">
                <h1 class="text-light"><a href=" #">Welcome</a></h1>
                <h3 class="text-light">
                    Admin
                </h3>
            </div>
            <div class="sidenav">
                <a href="#">All Workers</a><br>
                <a href="#">All Clients</a><br>
                <a href="/admin/validate">Validate</a><br>
                <a href="/admin/logs">Show Logs</a><br>
                <form action="/logout" method="get">
                    <button type="submit" id="logout"> Logout </button>
                </form>
            </div>
        </div>
    </header>
    <div class="table">
    <table>
        <tr>
          <th class="h">Sr No</th>
          <th class="h">Worker Name</th>
          <th class="h">Category</th>
          <th class="h">Number</th>
        </tr>
        <tr class="f">
          <td class="h">1</td>
          <td class="h">Alfreds Futterkiste</td>
          <td class="h">Technician</td>
          <td class="h">1056184684</td>
        </tr>
        <tr>
          <td class="h">2</td>
          <td class="h">Centro comercial Moctezuma</td>
          <td class="h">Carpenter</td>
          <td class="h">1154849600</td>
        </tr>
      </table>
    </div>
</body>
</html>