<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Client Details</title>
    <link rel="stylesheet" href="../stylesheets/clientupdate.css">
</head>

<body>
    <header id="header">
        <div class="d-flex flex-column">
            <div class="profile">
                <img src="../images/logo.png" alt="" class="img-fluid">
                <h1 class="text-light hidden" id="nav-text"><a href="#">Work-Connect</a></h1>
            </div>
            <div class="sidenav">
                <a href="/client/login">Client Login</a><br>
                <a href="/worker/login">Worker Login</a><br>
                <a href="/admin/login">Admin Login</a><br>
            </div>
        </div>
    </header>
</body>

</html>